
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
  }
.flex-container > div {
    width: 300px;
    margin: 10px;
    background-color:burlywood ;
    padding:50px;
    border: 15px black;
    margin:20px ;
  }
  h2{
    position: relative;
    text-align: center;
}
h3{
    background-color:forestgreen ;
    padding:20px;
    width:40px ;
    border: 5px black;
    position: relative;
    bottom: 60px;
    left: 100px;
}